:root {
    --main: #071010;
    --main-light: #333;
    --highlight: #352;
}

body {
    margin: 0;
    padding: 0;
    background-color:var(--main);
}

nav {
    display: flex;
    flex: 1 1 auto;
    position: sticky;
    top: 0;
    background-color: var(--main-light);
}

nav a {
    background-color: var(--highlight);
    /* #784; */
    display: inline-block;
    color: white;
    border: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    background-color: #111;
}

nav iconify-icon {
    display: inline;
    width: 20000em;
    height: 2em;
}
iconify-icon {
    display: inline;
    width: 2000em;
    height: 2em;
}
